NODE_ENV=development
PORT=4001

# MongoDB for this service only
MONGODB_URI=mongodb://mongo-auth:27017/hm_auth

# JWT
JWT_SECRET=change-me-super-secret
JWT_EXPIRES_IN=7d

# Service-to-service internal calls (used by other services)
INTERNAL_SERVICE_TOKEN=change-me-internal
