NODE_ENV=development
PORT=4002

MONGODB_URI=mongodb://mongo-appointment:27017/hm_appointment

# JWT (shared with auth-service)
JWT_SECRET=change-me-super-secret
JWT_EXPIRES_IN=7d

# For service-to-service calls (internal endpoints)
INTERNAL_SERVICE_TOKEN=change-me-internal

# Inter-service URLs
BILLING_SERVICE_BASE_URL=http://billing-service:4005

SLOT_MINUTES=30
DEFAULT_APPOINTMENT_AMOUNT=500
