NODE_ENV=development
PORT=4003

MONGODB_URI=mongodb://mongo-doctor:27017/hm_doctor

JWT_SECRET=change-me-super-secret
JWT_EXPIRES_IN=7d

INTERNAL_SERVICE_TOKEN=change-me-internal

APPOINTMENT_SERVICE_BASE_URL=http://appointment-service:4002
LAB_SERVICE_BASE_URL=http://lab-service:4004
