NODE_ENV=development
PORT=4005

MONGODB_URI=mongodb://mongo-billing:27017/hm_billing

JWT_SECRET=change-me-super-secret
JWT_EXPIRES_IN=7d

INTERNAL_SERVICE_TOKEN=change-me-internal

# Inter-service URLs
APPOINTMENT_SERVICE_BASE_URL=http://appointment-service:4002
LAB_SERVICE_BASE_URL=http://lab-service:4004

DEFAULT_APPOINTMENT_AMOUNT=500
DEFAULT_LAB_AMOUNT=300

PUBLIC_SERVICE_BASE_URL=http://localhost:4005

